/olds/HUJI_cluster/2QKEE_002.pdb
/olds/inputs/AF_cluster_73815.a3m
/olds/HUJI_cluster/af_folder_cl.sh
/olds/HUJI_cluster/af_folder_cl_mult.sh
/olds/HUJI_cluster/af_test.sh
/olds/HUJI_cluster/af_test_cl.sh
/olds/batch_msa_only.py
/olds/test_env/bfd.mgnify30.metaeuk30.smag30.a3m
/olds/test_res/msa_test_env/bfd.mgnify30.metaeuk30.smag30.a3m
/olds/BlastMsa.py
/olds/CalculateModelFeatures.py
/olds/ClusterMSA_debug.py
/olds/ClusterMSA_leaf_moriah.py
/olds/ClusterMSA_moriah.py
/olds/HUJI_cluster/ClusterMSA_test_cl.sh
/olds/collabFold_script.py
/olds/esm_output
/olds/HUJI_cluster/esm_test_cl.sh
/olds/ESMFold.py
/olds/EsmFold_github.py
/olds/FastTree.py
/olds/get_msa.py
/olds/get_pdb_fasta_files.py
/olds/get_sample_fasta_msa.py
/olds/get_sample_msa_algn.py
/olds/input_sequences.fasta
/olds/maaft.py
/olds/cache/metadata.0.txt
/olds/test_env/msa.sh
/olds/test_res/msa_test_env/msa.sh
/olds/msa_t__AF_cluster_73815.npy
/olds/test_res/msa_test.a3m
/olds/test_env/out.tar.gz
/olds/test_res/msa_test_env/out.tar.gz
/olds/test_env/pdb70.m8
/olds/test_res/msa_test_env/pdb70.m8
/olds/pipeline.txt
/olds/pipeline_prediction_analysis.py
/olds/plot_esm_cmp.py
/olds/HUJI_cluster/requirements.txt
/olds/requirements.txt
/olds/RunAF2.py
/olds/RunAF2_debug.py
/olds/RunAF2_moriah.py
/olds/RunAF2_moriah_cl.py
/olds/RunAF_colabfold.py
/olds/RunAF_colabfold_noplot.py
/olds/runESM.py
/olds/RunESM_debug.py
/olds/cache/seqids.json
/olds/setup.py
/colabfold/openstructure/stereo_chemical_props.txt
/olds/HUJI_cluster/test_pred_001.a3m
/olds/HUJI_cluster/test_pred_002.a3m
/olds/HUJI_cluster/test_pred_029.a3m
/olds/HUJI_cluster/test_pred_030.a3m
/olds/test_env/uniref.a3m
/olds/test_res/msa_test_env/uniref.a3m
/olds/utils.py
/olds/
/personel/
/olds/
